body {
  background-color: #8f6666;
  cursor: url('https://static.tumblr.com/xjqjg7j/Mhcmxtzxp/84.gif'), url('https://static.tumblr.com/xjqjg7j/Mhcmxtzxp/84.gif'), auto !important;
}

::selection{
	background-color: #ffa1dd;
  color: white;
}

/* BEGINNING OF HEADER */

.header {
  height: 80px;
  background-color: #444444;
  display: flex;
  width: 100%;
  justify-content: space-between;
}

.logo-img {
  height: 50px;
  width: 50px;
  margin-left: 15px;
  margin-top: 15px;
}

.links-container {
  display: flex;
  justify-content: space-between;
  width: 18%;
  margin-top: 30px;
  margin-right: 10px;
}

.page-links {
  font-family: 'Arbutus Slab', serif;
  color: white;
  text-decoration: none;
  font-size: 14px;
}

.page-links:hover {
  color: #bb5f5f;
}

/* END OF HEADER */ 
/* BEGINNING OF BODY */
.jumbotron {
  height: 250px;
  background-image: linear-gradient(45.34deg, #874a4a 5.66%, #5b5b5b 94.35%);
  margin-top: -20px;
  color: white;
  text-align: center;
}

.jumbotron-h1 {
  padding-top: 60px;
  font-size: 70px;
  margin-top: 20px;
  font-family: 'Shrikhand', cursive;
  font-weight: 300;
}

.jumbotron-h2 {
  font-size: 18px;
  margin-top: -35px;
  font-family: 'Arbutus Slab', serif;
  font-weight: 300;
}

.home-boxes {
  display: flex;
  justify-content: space-around;
  width: 90%;
  margin: 30px auto 30px auto;
}

.home-one {
  float: left;
  height: 400px;
  width: 500px;
  border: dashed 8px #BB5F5F;
  background-color: #FCC7B5;
  border-radius: 15px;
  text-align: center;
}

.home-two {
  float: right;
  height: 400px;
  width: 500px;
  border: dashed 8px #BB5F5F;
  background-color: #FCC7B5;
  border-radius: 15px;
}

.face-img {
  align-self: center;
  border: 5px dashed #bb5f5f;
  border-radius: 10px;
  margin-top: 50px;
}

.h4-boxes {
  text-align: center;
  font-size: 16px;
  color: #444444;
  font-weight: 400;
  font-family: 'Arbutus Slab', serif;
}

ul {
  text-align: center;
  font-family: 'Arbutus Slab', serif;
  color: #444444;
  line-height: 2.2;
  list-style-type: none;
}

li {
  margin-top: 30px;
  margin-left: -10px;
  padding-right: 20px;
}

li::before {
  content: "\2605";
  color: #444444;
  padding-right: 10px;
}
/* END OF BODY */
/* BEGINNING OF CONTACT FORM */

.accordion-grid {
  display: flex;
  align-items: center;
}

.grid-container {
  margin-top: 80px;
  margin-bottom: 80px;
}
.column-img {
  height: 100px;
  width: 100px;
  display: block;
  padding: 30px;
  margin: auto;
}

.contact-form-container {
  height: 680px;
  width: 75%;
  margin: auto;
  border-radius: 20px;
  border: 5px dashed #FCC7B5;
  margin-top: -10px;
  /* background-color: #D88080; */
  background-color: #BB5F5F;
}

.contact-h3 {
  font-size: 45px;
  color: #ffffff;
  font-family: 'Shrikhand', cursive;
  font-weight: 300;
  margin-top: 20px;
  margin-bottom: -10px;
  text-align: center;
}

.form-label {
  font-family: 'Arbutus Slab', serif;
  color: #ffffff;
  font-size: 20px;
  display: block;
  margin-top: 20px;
  margin-bottom: 6px;
  margin-left: 30px;
  cursor: url('https://static.tumblr.com/xjqjg7j/Mhcmxtzxp/84.gif'), url('https://static.tumblr.com/xjqjg7j/Mhcmxtzxp/84.gif'), auto !important;
}

.form-input {
  width: 600px;
  height: 28px;
  border-radius: 10px;
  border: 5px solid #ffffff;
  background-color: #ffffff;
  font-family: 'Arbutus Slab', serif;
  display: flex;
  margin: auto;
}

.form-textarea {
  height: 200px;
  width: 600px;
  border-radius: 10px;
  padding: 10px;
  font-family: 'Arbutus Slab', serif;
  display: flex;
  margin: auto;
}

.switch {
  margin-left: 20px;
  margin-bottom: 10px;
  cursor: url('https://static.tumblr.com/xjqjg7j/Mhcmxtzxp/84.gif'), url('https://static.tumblr.com/xjqjg7j/Mhcmxtzxp/84.gif'), auto !important;
}

.switch-label {
  font-family: 'Arbutus Slab', serif;
  color: #ffffff;
  cursor: url('https://static.tumblr.com/xjqjg7j/Mhcmxtzxp/84.gif'), url('https://static.tumblr.com/xjqjg7j/Mhcmxtzxp/84.gif'), auto !important;
}

.submit-btn {
  height: 50px;
  width: 610px;
  background-color: #FCC7B5;
  border: none;
  color: #BB5F5F;
  font-size: 20px;
  justify-content: center;
  display: flex;
  margin: auto;
  border-radius: 10px;
  font-family: 'Shrikhand', cursive;
  cursor: url('https://static.tumblr.com/xjqjg7j/Mhcmxtzxp/84.gif'), url('https://static.tumblr.com/xjqjg7j/Mhcmxtzxp/84.gif'), auto !important;
}

.label-container {
  cursor: url('https://static.tumblr.com/xjqjg7j/Mhcmxtzxp/84.gif'), url('https://static.tumblr.com/xjqjg7j/Mhcmxtzxp/84.gif'), auto !important;
}
.submit-btn:hover {
  box-shadow: 0px 5px 10px 0px rgba(0, 0, 0, 0.5); 
}

/* END OF CONTACT */

a:hover {
  cursor: url('https://static.tumblr.com/xjqjg7j/Mhcmxtzxp/84.gif'), url('https://static.tumblr.com/xjqjg7j/Mhcmxtzxp/84.gif'), auto !important;
}

.card-container {
  display: flex;
  flex-wrap: wrap;
  margin-top: 50px;
  margin-bottom: 50px;
}

.cards {
  display: space-around;
}

.a-links {
  text-decoration: none;
  font-family: 'Shrikhand', cursive;
  text-align: center;
}



/* BEGINNING OF FOOTER */

.footer {
  height: 90px;
  width: 100%;
  background-color: #444444;
  display: flex;
  justify-content: center;
  align-items: center;
}

.social-icon {
  height: 35px;
  margin: 15px;
}

a.social {
  color: #FCC7B5;
}

a.social:hover {
  color: #ffffff;
}