body {
  background-color: #8f6666;
}

::selection{
	background-color: #ffa1dd;
  color: white;
}

/* BEGINNING OF HEADER */

.header {
  height: 80px;
  background-color: #444444;
  display: flex;
  width: 100%;
  justify-content: space-between;
}

.logo-img {
  height: 50px;
  width: 50px;
  margin-left: 15px;
  margin-top: 15px;
}

#dropdown-basic-button {
  margin-top: 10px;
  margin-right: 15px;
  height: 60px;
  width: 100px;
  font-size: 15px;
  font-family: 'Arbutus Slab', serif;
  background-color: #bb5f5f;
  color: #fbf5ff;
  border-radius: 25px;
  border: none;
}

.item-container {
  border: 2px solid #301934;
  border-radius: 15px;
}

#dropdown-item {
  background-color: #FCC7B5;
  height: 40px;
  width: 120px;
  padding-left: 5px;
  padding-top: 5px;
  color: #301934;
  display: block;
  text-decoration: none;
  font-family: 'Arbutus Slab', serif;
}
/* END OF HEADER */ 
/* BEGINNING OF BODY */
.jumbotron {
  height: 250px;
  background-image: linear-gradient(45.34deg, #874a4a 5.66%, #5b5b5b 94.35%);
  margin-top: -20px;
  color: white;
  text-align: center;
}

.jumbotron-h1 {
  padding-top: 60px;
  font-size: 70px;
  margin-top: 20px;
  font-family: 'Shrikhand', cursive;
  font-weight: 300;
}

.jumbotron-h2 {
  font-size: 18px;
  margin-top: -35px;
  font-family: 'Arbutus Slab', serif;
  font-weight: 300;
}

.home-boxes {
  display: flex;
  justify-content: space-around;
  margin-top: 30px;
  margin-bottom: 30px;
}

.home-one {
  float: left;
  height: 400px;
  width: 500px;
  border: solid 8px #BB5F5F;
  background-color: #FCC7B5;
  border-radius: 15px;
  text-align: center;
}

.home-two {
  float: right;
  height: 400px;
  width: 500px;
  border: solid 8px #BB5F5F;
  background-color: #FCC7B5;
  border-radius: 15px;
}

.face-img {
  align-self: center;
  border: 5px solid #bb5f5f;
  border-radius: 10px;
  margin-top: 50px;
}

.h4-boxes {
  text-align: center;
  font-size: 16px;
  color: #301934;
  font-weight: 400;
  font-family: 'Arbutus Slab', serif;
}

ul {
  text-align: center;
  font-family: 'Arbutus Slab', serif;
  color: #301934;
  line-height: 2.2;
}

li {
  margin-top: 30px;
}
/* END OF BODY */
/* BEGINNING OF FOOTER */

.footer {
  height: 90px;
  width: 100%;
  background-color: #444444;
}