body {
  background-color: #8f6666;
}

::selection{
	background-color: #ffa1dd;
  color: white;
}

/* BEGINNING OF HEADER */

.header {
  height: 90px;
  background-color: #444444;
  display: flex;
  width: 100%;
  justify-content: space-between;
}

.logo-img {
  height: 50px;
  width: 50px;
  margin-left: 15px;
  margin-top: 20px;
}

.dropdown {
  margin-top: 10px;
  margin-right: 15px;
}

.dropdown-btn {
  height: 60px;
  width: 120px;
  background-color: darkgoldenrod;
  border-radius: 30px;
}

.jumbotron {
  height: 250px;
  background-image: linear-gradient(45.34deg, #874a4a 5.66%, #5b5b5b 94.35%);
  margin-top: -20px;
  color: white;
  text-align: center;
}

.jumbotron-h1 {
  padding-top: 60px;
  font-size: 70px;
  margin-top: 20px;
  font-family: 'Shrikhand', cursive;
  font-weight: 300;
}

.jumbotron-h2 {
  font-size: 18px;
  margin-top: -35px;
  font-family: 'Arbutus Slab', serif;
  font-weight: 300;
}